:root {
    --primaryColor: #87f1ff;
    --dark: #222;
}


* {
    font-family: 'Helvetica', sans serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.container {
    align-items: center;
    background-color: var(--primaryColor);
    cursor: pointer;
    display: grid;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#textContainer,
.toast {
    color: var(--dark);
}

#textContainer {
    font-size: 72px;
}


#toast { 
    background-color: white;
    border-radius: 12px;
    bottom: -40px;
    box-shadow: 1px 2px 5px var(--dark); 
    color: #222;
    left: 50%;
    padding: 5px 25px;
    position: absolute;
    transform: translateX(-50%);
    transition-property: all;
    transition-duration: 0.3s;
}

#toast.visible {
    bottom: 20px;
}