<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="main.css" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <script src="/index.js"></script>
    </head>
    <body>
        <h1>🐶</h1>
        <div class="container">
            <div class="item">
                <input disabled readonly value="#{CPF}" />
                <span class="icon icon--copy" />
            </div>
            <div class="item">
                <input readonly value="#{CPFWithMask}" />
                <span class="icon icon--copy" />
            </div>
        </div>
    </body>
</html>